.ToDoItem {
    background-color: #fafafa;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 24px;
    box-shadow: 0 5px 50px rgba(32, 35, 41, .15)
}

.ToDoItem-p {
    padding: .8rem 1.5rem;
    width: 80%;
    font-size: 1.3rem;
    line-height: 1.1rem;
    font-weight: 400;
}

.ToDoItem-p--complete {
    text-decoration: line-through
}

.Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 1.5rem;
    font-weight: 700;
}

.Icon-check {
    position: absolute;
    left: 1rem;
}

.Icon-check--active {
    color: #4caf50
}

.Icon-delete {
    position: absolute;
    right: 1rem;
}

.Icon-delete:hover {
    color: red
}